/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, form button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, form button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, form button:focus {
  outline: none;
}

/* line 9, ../../app/stylesheets/partials/_page.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 750 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(100, 100, 225, 0.25) 62.5px, rgba(100, 100, 225, 0.25) 125px, rgba(0, 0, 0, 0) 125px, rgba(0, 0, 0, 0) 125px, rgba(100, 100, 225, 0.25) 125px, rgba(100, 100, 225, 0.25) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(100, 100, 225, 0.25) 187.5px, rgba(100, 100, 225, 0.25) 250px, rgba(0, 0, 0, 0) 250px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(100, 100, 225, 0.25) 312.5px, rgba(100, 100, 225, 0.25) 375px, rgba(0, 0, 0, 0) 375px, rgba(0, 0, 0, 0) 375px, rgba(100, 100, 225, 0.25) 375px, rgba(100, 100, 225, 0.25) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(100, 100, 225, 0.25) 437.5px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(100, 100, 225, 0.25) 562.5px, rgba(100, 100, 225, 0.25) 625px, rgba(0, 0, 0, 0) 625px, rgba(0, 0, 0, 0) 625px, rgba(100, 100, 225, 0.25) 625px, rgba(100, 100, 225, 0.25) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(100, 100, 225, 0.25) 687.5px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 750px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(100, 100, 225, 0.25) 62.5px, rgba(100, 100, 225, 0.25) 125px, rgba(0, 0, 0, 0) 125px, rgba(0, 0, 0, 0) 125px, rgba(100, 100, 225, 0.25) 125px, rgba(100, 100, 225, 0.25) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(100, 100, 225, 0.25) 187.5px, rgba(100, 100, 225, 0.25) 250px, rgba(0, 0, 0, 0) 250px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(100, 100, 225, 0.25) 312.5px, rgba(100, 100, 225, 0.25) 375px, rgba(0, 0, 0, 0) 375px, rgba(0, 0, 0, 0) 375px, rgba(100, 100, 225, 0.25) 375px, rgba(100, 100, 225, 0.25) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(100, 100, 225, 0.25) 437.5px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(100, 100, 225, 0.25) 562.5px, rgba(100, 100, 225, 0.25) 625px, rgba(0, 0, 0, 0) 625px, rgba(0, 0, 0, 0) 625px, rgba(100, 100, 225, 0.25) 625px, rgba(100, 100, 225, 0.25) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(100, 100, 225, 0.25) 687.5px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 750px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(100, 100, 225, 0.25) 62.5px, rgba(100, 100, 225, 0.25) 125px, rgba(0, 0, 0, 0) 125px, rgba(0, 0, 0, 0) 125px, rgba(100, 100, 225, 0.25) 125px, rgba(100, 100, 225, 0.25) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(100, 100, 225, 0.25) 187.5px, rgba(100, 100, 225, 0.25) 250px, rgba(0, 0, 0, 0) 250px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(100, 100, 225, 0.25) 312.5px, rgba(100, 100, 225, 0.25) 375px, rgba(0, 0, 0, 0) 375px, rgba(0, 0, 0, 0) 375px, rgba(100, 100, 225, 0.25) 375px, rgba(100, 100, 225, 0.25) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(100, 100, 225, 0.25) 437.5px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(100, 100, 225, 0.25) 562.5px, rgba(100, 100, 225, 0.25) 625px, rgba(0, 0, 0, 0) 625px, rgba(0, 0, 0, 0) 625px, rgba(100, 100, 225, 0.25) 625px, rgba(100, 100, 225, 0.25) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(100, 100, 225, 0.25) 687.5px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 750px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(100, 100, 225, 0.25) 62.5px, rgba(100, 100, 225, 0.25) 125px, rgba(0, 0, 0, 0) 125px, rgba(0, 0, 0, 0) 125px, rgba(100, 100, 225, 0.25) 125px, rgba(100, 100, 225, 0.25) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(100, 100, 225, 0.25) 187.5px, rgba(100, 100, 225, 0.25) 250px, rgba(0, 0, 0, 0) 250px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(100, 100, 225, 0.25) 312.5px, rgba(100, 100, 225, 0.25) 375px, rgba(0, 0, 0, 0) 375px, rgba(0, 0, 0, 0) 375px, rgba(100, 100, 225, 0.25) 375px, rgba(100, 100, 225, 0.25) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(100, 100, 225, 0.25) 437.5px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(100, 100, 225, 0.25) 562.5px, rgba(100, 100, 225, 0.25) 625px, rgba(0, 0, 0, 0) 625px, rgba(0, 0, 0, 0) 625px, rgba(100, 100, 225, 0.25) 625px, rgba(100, 100, 225, 0.25) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(100, 100, 225, 0.25) 687.5px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 750px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(100, 100, 225, 0.25) 62.5px, rgba(100, 100, 225, 0.25) 125px, rgba(0, 0, 0, 0) 125px, rgba(0, 0, 0, 0) 125px, rgba(100, 100, 225, 0.25) 125px, rgba(100, 100, 225, 0.25) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(0, 0, 0, 0) 187.5px, rgba(100, 100, 225, 0.25) 187.5px, rgba(100, 100, 225, 0.25) 250px, rgba(0, 0, 0, 0) 250px, rgba(0, 0, 0, 0) 250px, rgba(100, 100, 225, 0.25) 250px, rgba(100, 100, 225, 0.25) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(0, 0, 0, 0) 312.5px, rgba(100, 100, 225, 0.25) 312.5px, rgba(100, 100, 225, 0.25) 375px, rgba(0, 0, 0, 0) 375px, rgba(0, 0, 0, 0) 375px, rgba(100, 100, 225, 0.25) 375px, rgba(100, 100, 225, 0.25) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(0, 0, 0, 0) 437.5px, rgba(100, 100, 225, 0.25) 437.5px, rgba(100, 100, 225, 0.25) 500px, rgba(0, 0, 0, 0) 500px, rgba(0, 0, 0, 0) 500px, rgba(100, 100, 225, 0.25) 500px, rgba(100, 100, 225, 0.25) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(0, 0, 0, 0) 562.5px, rgba(100, 100, 225, 0.25) 562.5px, rgba(100, 100, 225, 0.25) 625px, rgba(0, 0, 0, 0) 625px, rgba(0, 0, 0, 0) 625px, rgba(100, 100, 225, 0.25) 625px, rgba(100, 100, 225, 0.25) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(0, 0, 0, 0) 687.5px, rgba(100, 100, 225, 0.25) 687.5px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 750px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .border {
  padding-right: -1px;
  margin-right: 0px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .colborder {
  padding-right: 30px;
  margin-right: 31px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 25, ../../app/stylesheets/partials/_two_col.scss */
body.two-col #container {
  width: 750px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../../app/stylesheets/partials/_two_col.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 750px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 29, ../../app/stylesheets/partials/_two_col.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 250px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 33, ../../app/stylesheets/partials/_two_col.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 500px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 17, ../../app/stylesheets/screen.scss */
.notice {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

/* line 22, ../../app/stylesheets/screen.scss */
.alert {
  color: red;
}

/* line 25, ../../app/stylesheets/screen.scss */
.clearfix {
  display: block;
}

/* line 26, ../../app/stylesheets/screen.scss */
ul {
  list-style: disc outside none;
  margin: 0;
  padding: 0;
}

/* line 31, ../../app/stylesheets/screen.scss */
ul li {
  list-style: none outside none;
}

/* line 34, ../../app/stylesheets/screen.scss */
li {
  margin-left: 30px;
}

/* line 35, ../../app/stylesheets/screen.scss */
form {
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* line 39, ../../app/stylesheets/screen.scss */
form button {
  float: right;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: lime;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #baeeba), color-stop(10%, #70db70), color-stop(50%, #30c030), color-stop(50%, #2db42d), color-stop(100%, #43d043));
  background-image: -webkit-linear-gradient(#baeeba, #70db70 10%, #30c030 50%, #2db42d 50%, #43d043);
  background-image: -moz-linear-gradient(#baeeba, #70db70 10%, #30c030 50%, #2db42d 50%, #43d043);
  background-image: -o-linear-gradient(#baeeba, #70db70 10%, #30c030 50%, #2db42d 50%, #43d043);
  background-image: -ms-linear-gradient(#baeeba, #70db70 10%, #30c030 50%, #2db42d 50%, #43d043);
  background-image: linear-gradient(#baeeba, #70db70 10%, #30c030 50%, #2db42d 50%, #43d043);
  border-color: #248f24;
  text-shadow: green 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
form button, form button:visited {
  color: white;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
form button:hover, form button:focus {
  background-color: #00f000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #adebad), color-stop(10%, #64d864), color-stop(50%, #2db42d), color-stop(50%, #2aa72a), color-stop(100%, #37cd37));
  background-image: -webkit-linear-gradient(#adebad, #64d864 10%, #2db42d 50%, #2aa72a 50%, #37cd37);
  background-image: -moz-linear-gradient(#adebad, #64d864 10%, #2db42d 50%, #2aa72a 50%, #37cd37);
  background-image: -o-linear-gradient(#adebad, #64d864 10%, #2db42d 50%, #2aa72a 50%, #37cd37);
  background-image: -ms-linear-gradient(#adebad, #64d864 10%, #2db42d 50%, #2aa72a 50%, #37cd37);
  background-image: linear-gradient(#adebad, #64d864 10%, #2db42d 50%, #2aa72a 50%, #37cd37);
  border-color: #218321;
  text-shadow: #007000 0px 1px 1px;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
form button:hover, form button:hover:visited, form button:focus, form button:focus:visited {
  color: white;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
form button:active {
  background-color: #00e000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2db42d), color-stop(30%, #2fbc2f), color-stop(50%, #2bab2b), color-stop(50%, #289f28), color-stop(100%, #3bce3b));
  background-image: -webkit-linear-gradient(#2db42d, #2fbc2f 30%, #2bab2b 50%, #289f28 50%, #3bce3b);
  background-image: -moz-linear-gradient(#2db42d, #2fbc2f 30%, #2bab2b 50%, #289f28 50%, #3bce3b);
  background-image: -o-linear-gradient(#2db42d, #2fbc2f 30%, #2bab2b 50%, #289f28 50%, #3bce3b);
  background-image: -ms-linear-gradient(#2db42d, #2fbc2f 30%, #2bab2b 50%, #289f28 50%, #3bce3b);
  background-image: linear-gradient(#2db42d, #2fbc2f 30%, #2bab2b 50%, #289f28 50%, #3bce3b);
  border-color: #1e761e;
  text-shadow: #006100 0px -1px -1px;
  -moz-box-shadow: #248f24 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #248f24 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #248f24 0 0.08em 0.2em 1px inset;
  box-shadow: #248f24 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
form button:active, form button:active:visited {
  color: white;
}
/* line 43, ../../app/stylesheets/screen.scss */
form h4 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
}
/* line 51, ../../app/stylesheets/screen.scss */
form ul li.label {
  float: left;
  margin-bottom: 5px;
  line-height: 30px;
  clear: left;
  width: 180px;
  text-align: left;
  font-size: 16px;
}
/* line 60, ../../app/stylesheets/screen.scss */
form ul li.field {
  float: left;
  margin-bottom: 5px;
  width: 280px;
}
/* line 64, ../../app/stylesheets/screen.scss */
form ul li.field input {
  width: 280px;
  font-size: 18px;
}

/* line 71, ../../app/stylesheets/screen.scss */
#two-col {
  width: 750px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 73, ../../app/stylesheets/screen.scss */
#two-col #right {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 500px;
  background-color: #F1F1F1;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col #right {
  overflow-x: hidden;
}
/* line 77, ../../app/stylesheets/screen.scss */
#two-col #left {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 250px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col #left {
  overflow-x: hidden;
}
/* line 79, ../../app/stylesheets/screen.scss */
#two-col #left ul {
  margin-top: 15px;
}
/* line 81, ../../app/stylesheets/screen.scss */
#two-col #left ul li {
  padding-bottom: 25px;
}
/* line 86, ../../app/stylesheets/screen.scss */
#two-col #bottom {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 750px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #two-col #bottom {
  overflow-x: hidden;
}

/* line 91, ../../app/stylesheets/screen.scss */
.deal-image {
  height: 400px;
}

/* line 95, ../../app/stylesheets/screen.scss */
.or-separator {
  clear: both;
  height: 23px;
  line-height: 23px;
  margin: 0 auto;
  width: 448px;
  background: url("http://s0.muscache.com/images/fb/fb-hr.png") no-repeat scroll center 50% transparent;
  color: #DDDDDD;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
}

/* line 108, ../../app/stylesheets/screen.scss */
#login-outer {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 625px;
  padding-left: 62.5px;
  padding-right: 62.5px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #login-outer {
  overflow-x: hidden;
}
/* line 112, ../../app/stylesheets/screen.scss */
#login-outer ul.row {
  margin-top: 35px;
}
/* line 114, ../../app/stylesheets/screen.scss */
#login-outer ul.row li {
  float: left;
  margin-right: 20px;
}
/* line 119, ../../app/stylesheets/screen.scss */
#login-outer h2 {
  text-align: left;
}
/* line 122, ../../app/stylesheets/screen.scss */
#login-outer #login, #login-outer #social-login {
  height: 180px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #F1F1F1;
}
/* line 127, ../../app/stylesheets/screen.scss */
#login-outer #login h2, #login-outer #social-login h2 {
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

/* line 136, ../../app/stylesheets/screen.scss */
.login-height {
  min-height: 450px;
}

/* line 139, ../../app/stylesheets/screen.scss */
#big-box {
  width: 750px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background-color: #FFFFFF;
  margin-top: 15px;
}
/* line 144, ../../app/stylesheets/screen.scss */
#big-box #header {
  background-color: #59deff;
  padding-top: 6px;
}
/* line 147, ../../app/stylesheets/screen.scss */
#big-box #header h1 {
  font-size: 26px;
  text-align: left;
  margin-left: 10px;
  font-weight: normal;
  padding: 0 20px 5px;
}
/* line 153, ../../app/stylesheets/screen.scss */
#big-box #header h1 span {
  font-size: 18px;
}
/* line 156, ../../app/stylesheets/screen.scss */
#big-box #header h1 a {
  font-size: 20px;
}

/* line 162, ../../app/stylesheets/screen.scss */
a {
  text-decoration: none;
  color: #0066cc;
}

/* line 166, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 169, ../../app/stylesheets/screen.scss */
.border-radius {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

/* line 172, ../../app/stylesheets/screen.scss */
body {
  text-align: center;
  color: #262626;
  font-family: helvetica;
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  background: black url("/images/Sketch2.jpg") center top fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

/* line 182, ../../app/stylesheets/screen.scss */
#background {
  height: 100%;
  width: 100%;
  position: fixed;
}
/* line 186, ../../app/stylesheets/screen.scss */
#background img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 195, ../../app/stylesheets/screen.scss */
#masthead {
  background-color: #262626;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}
/* line 200, ../../app/stylesheets/screen.scss */
#masthead .hgroup {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
}
/* line 205, ../../app/stylesheets/screen.scss */
#masthead h1 {
  margin: 0;
}
/* line 207, ../../app/stylesheets/screen.scss */
#masthead h1 a {
  background: url("/images/logo.png");
  height: 80px;
  margin: 0;
  width: 175px;
}

/* line 216, ../../app/stylesheets/screen.scss */
.nest {
  background: none repeat scroll 0 0 transparent;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 960px;
  z-index: 1000;
}

/* line 225, ../../app/stylesheets/screen.scss */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* line 235, ../../app/stylesheets/screen.scss */
#new-badge {
  color: #8A8A8A;
  font-weight: normal;
  height: 50px;
  margin-bottom: 10px;
  max-width: 420px;
  position: absolute;
  right: 10px;
  top: 12px;
}
/* line 245, ../../app/stylesheets/screen.scss */
#new-badge ul.unauth, #new-badge ul.auth {
  margin-top: 10px;
  padding-top: 14px;
  text-align: center;
}
/* line 249, ../../app/stylesheets/screen.scss */
#new-badge ul.unauth a, #new-badge ul.auth a {
  color: #66C3FE;
}

/* line 254, ../../app/stylesheets/screen.scss */
.border-radius-example {
  width: 125px;
  height: 125px;
  background: red;
  margin: 20px;
  float: left;
  padding: 5px;
}
