#big-box.border-radius
  #header
    %h1
      Featured Deal
  #two-col
    #right
      content goes here
    #left
      .deal-image{:style=>"background: url('http://a5.ak.lscdn.net/imgs/70c97b4b-819f-4b06-8e6b-c5c362c96d1c/280_q60_.jpg') no-repeat scroll left top #EFEFEF"}
    #bottom 
      bottom part goes here
