#big-box.border-radius
  #header
    %h1
      Featured Deal
  #two-col
    #right
      #deal-title
        %h1 50% off Shary's Fishy Spa 
      #multiple-offers
        #bounty
          #offers
            #deals
              %h3 $20 Worth of Spa
              %dl
                %dt You Pay:
                %dd $10
                %dt Value
                %dd $20
            #deals.horizontalLine.second
              %h3 $20 Worth of Spa
              %dl
                %dt You Pay:
                %dd $10
                %dt Value
                %dd $20
          #buydeal
            %button 
              buy now!
            %a{:href=>"#"} send as a gift
        %ul.deal-stats
          %li 
            .value
              %img{:style=>"",:src=>"http://assets1.grouponcdn.com/images/groupon/icons/tipometer/check_mark.png"}
            .label deal is on
          %li 
            .value 500
            .label purchased
          %li.last
            .value 2 days
            .label remaining
      #deal-desc
        The Little Mermaid observed that flipping your fins doesn't get you far, but it turns out too much walking can do a number on your tootsies as well. If you're starting to wonder what you'd pay to spend a day off the worn sandpaper formerly known as your feet, let a few fish lend a helping fin. For just $50, Yvonne's Day Spa in Crystal City hooks you up with the Fish-y Cure, a relaxing and circulation-improving experience for body and sole (regularly $100).
    #left
      .deal-image{:style=>"background: url('http://a5.ak.lscdn.net/imgs/70c97b4b-819f-4b06-8e6b-c5c362c96d1c/280_q60_.jpg') no-repeat scroll left top #EFEFEF"}
    #bottom 
      #fine-print
        %h2 the fine print
        %p Limit one per person per visit • Appointments are required and subject to availability • Merchant cancellation/re-scheduling policy of 24 hours applies; voucher subject to forfeiture • Entire value must be used in a single visit • Be nice and tip on the full amount of service! • Other conditions apply • PAID VALUE EXPIRES ON August 28, 2016 • PROMOTIONAL VALUE EXPIRES ON December 29, 2011 
      #locations
        %h2 locations
        %ul.address
          %li
            %span.street 1234 Fake Street 
            %br
            %span.phone 703-545-3434 
            |
            %span.directions
              %a{:href=>"#"} get directions
          %li
            %span.street 1234 Fake Street
            %br
            %span.phone 703-545-3434 
            |
            %span.directions
              %a{:href=>"#"} get directions
