// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "blueprint/buttons";
@import "fancy-buttons";
@import "blueprint/interaction";
// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";
@import "compass/css3";

#userOptions {
  height: 24px;
  margin-left: 200px;
  position: absolute;
  right: 10px;
  top: 8px;
  li {
    float: right;
    position: relative;
    .btn {margin: 1px 1px 0 2px;}
  }
  button {
    #option {
      @include border-radius(2px);
      padding-right: 9px;
      span {
        @include border-radius(2px);
        display: block;
        float: left;
        line-height: 11px;
        margin: 0;
        padding: 5px 0 6px 10px;
      }
    }
  }
  .btn_style1 {
    background-color: #444444;
    @include border-radius(2px);
    display: block;
    float: left;
    height: 22px;
    cursor: pointer;
    position: relative;
  }
  li.first 
  {
    .btn {margin-right: 0;}
  }
}
.right {float: right !important;}



#new-deals {
  @include column(11);
  @include prepend(1);
  h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
  }
  #deal-info {
  }
  #offer-info{
  }
}

#deal-desc {
  @include column (7.3);
  color: #3A3B3D;
  line-height: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}

ul.deal-stats {
  @include column(7);
  margin-top: 10px;
  margin-bottom: 10px;
  .value,.label {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .label {
    color: #58595B;
    font-weight: normal;
    top: 20px;
  }
  .deal-on {
    float: left;
  }
  li {
    height: 51px;
    float: left;
    border-right: 1px solid #BDBDBD;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 125px;
    position: relative;
    color: #58595B;
  }
  li.last {
    border: medium none;
  }
}
#deal-title {
  margin-bottom: 10px;
  text-align: left;
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 5px;
  }
}
.verticalLine {
  border-left: thick solid #DDDDDD;
}
.horizontalLine{
  margin-top: 5px;
  border-top: thick solid #DDDDDD;
}
#bounty
{
  @include column (7);
  #buydeal {
      @include column(2.5);
      margin-top: 18px;
      margin-left: 25px;
    button {
      @include fancy-button(#33CC33, 22px);
      margin-bottom: 5px;
    }
    a {
      background: url("http://a1.ak.lscdn.net/deals/images/bingy/gifting/gift-sm.png") no-repeat scroll left top transparent;
      display: block;
      margin-left: 10px;
      padding: 5px 0 5px 30px; 
    }
  }
  #offers {
    float: right;
    @include column(3.5);
    margin-right: 10px;
    #deals{
      @include column (3.5);
      text-align: left;
      dl, dt, dd {
        display: inline;
        font-size: 12px;
        font-weight: bold;
        color: #58595B;
      }
      dd { 
        color: green;
      }
      dt { margin-right: 2px;}
      h3{
        color: #58595B;
        font-size: 19px;
        font-weight: bold;
        line-height: 25px;
      }
      dl{
        float: left;
      }
    }
  }
 
}
#multiple-offers {
  margin-left: 15px;
}
.notice.border-radius {
  @include container;
  margin-top: 15px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #FFFFFF;
  #msg {
    margin-left: 10px;
  }

}
.alert {
 color: red;
}
.clearfix {display: block}
ul {
  list-style: disc outside none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none outside none;
}
li.space {margin-left: 30px}
form {
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
  button {
    float: right;
    @include fancy-button(#33CC33);
  }
  h4 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  ul{
    li.label {
      float: left;
      margin-bottom: 5px;
      line-height: 30px;
      clear: left;
      width: 180px;
      text-align: left;
      font-size: 16px;
      margin-left: 10px;
    } 
    li.field {
      float: left;
      margin-bottom: 5px;
      width: 280px;
      input {
        width: 280px;
        font-size: 18px;
      }
    }
  }
}
#two-col{
  @include container;
  #right{
    @include column(7.5);
    @include prepend(.5);
    text-align: left;
  }
  #left{
    @include column(4);
    ul {
      margin-top: 15px;
      li {
        padding-bottom: 25px;
      }
    }
  }
  #bottom {
    @include column(12);
    background-color: #E9E9E9;
    h2 {
      font-size: 22px;
      font-weight: normal;
      line-height: 28px;
      text-transform: lowercase;
      margin-bottom: 10px;
    }
    #fine-print {
      @include column(7.5);
      @include prepend (.5);
      text-align: left;
      margin-bottom: 20px;
      p {
        font-size: 12px;
        padding-right: 20px;
      }
    }
    #locations {
      @include column(4);
      ul.address {
        li {
          color: #676767;
          margin-bottom: 10px;
          padding-left: 20px;
          text-align: left;
        }
      }
    }
  }
}
.deal-image
{
height: 400px;
          
}
.or-separator {
  clear: both;
  height: 23px;
  line-height: 23px;
  margin: 0 auto;
  width: 448px;
  background: url("http://s0.muscache.com/images/fb/fb-hr.png") no-repeat scroll center 50% transparent;
  color: #DDDDDD;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
}
#login-outer {
    @include column(10);
    @include prepend(1);
    @include append(1);
    ul.row{
      margin-top: 35px;
      li {
        float: left;
        margin-right: 20px;
      }
    }
    h2{
      text-align: left;
    }
#social-login{
    height: 280px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F1F1F1;
    h2 {
      text-align: left;
      margin-left: 30px;
      padding-top: 20px;
      font-size: 16px;
      font-weight: normal;
    }
  }
}
.login-form-height {
  height: 180px;
}
.signup-form-height {
  height: 280px;
}
#login{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #F1F1F1;
    h2 {
      text-align: left;
      margin-left: 30px;
      padding-top: 20px;
      font-size: 16px;
      font-weight: normal;
    }
  }
.login-height{
  min-height: 450px;
}
#signup-page
{
  @include container;
  background: none repeat scroll 0 0 #FFFFFF;
  @include border-radius(10px);
  #signup-content {
    margin: 5px 0;
    padding: 10px;
  }
  h1 {
    background-color: $box-title-color;
    margin-bottom: 10px;
    height: 40px;
    @include border-radius(10px);
    font-size: 14px;
    text-align: left;
    line-height: 40px;
    width: 95%;
    font-weight: bold;
    padding-left: 5%;
  }
  #signup-section-form {
    background: none repeat scroll 0 0 #EEEEEE;
    @include border-radius(5px);
    li.form_floated_half {
      margin-right: 20px;
      width: 265px;
      clear: none;
      display: block;
      float: left;
      margin: 0 2px 15px 0;
    }
  }
  
}
ul.fields {
  

}

#big-box {
  @include container;
  background-color: #FFFFFF;
  margin-top: 15px;
  table {
    padding: 10px;
    tr th {
      font-weight: bold;
      width: 180px;
    }
    tr  {
      margin-top: 10px;
      padding-bottom: 10px;
    }
  }
  ul.otherdeals {
    @include column(12);
    li {
      @include column(5.5);
      @include prepend(.5);
      text-align: left;
      position: relative;
    }
    #img {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
  #header
  {
    background-color: $box-title-color;
    padding-top: 6px;
    h1 {
      font-size: 26px;
      text-align: left;
      margin-left: 10px;
      font-weight: normal;
      padding: 0 20px 5px;
      span {
        font-size: 18px;
      }
      a {
        font-size: 20px;
      }
    }
  }
}
a {
  text-decoration: none;
  color: $link-color; 
}
a:hover {
  text-decoration: underline;
}
.border-radius {
  @include border-radius(7px); }

body  {
  text-align: center;
  color: $base-color;
  font-family: helvetica;
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  background: #000 url("/images/Sketch2.jpg") center top fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

#background {
  height: 100%;
  width: 100%;
  position: fixed;
  img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

#masthead {
  background-color: $base-color;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  .hgroup {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
  }
  h1 {
    margin: 0;
    a {
      background: url("/images/logo.png");
      height: 80px;
      margin: 0;
      width: 175px;
    }
  }
}

.nest {
  background: $none-transparent;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 960px;
  z-index: 1000;
}

.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}


#new-badge {
  color: #8A8A8A;
  font-weight: normal;
  height: 50px;
  margin-bottom: 10px;
  max-width: 420px;
  position: absolute;
  right: 10px;
  top: 12px;

  ul.unauth, ul.auth{
    margin-top: 10px;
    padding-top: 14px;
    text-align: center;
    a {color: #66C3FE;}
  }

}

.border-radius-example {
  width: 125px;
  height: 125px;
  background: red;
  margin: 20px;
  float: left;
  padding: 5px;         
}

