<% title "Some" %>

<p>
  <strong>Name:</strong>
  <%= @some.name %>
</p>

<p>
  <%= link_to "Edit", edit_some_path(@some) %> |
  <%= link_to "Destroy", @some, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", somes_path %>
</p>
