#whyus.border-radius
  #first
    #whyus
      #whypartner
        %h1
          why partner with us
        %p.introduction
          The CityBee is an unconventional advertising service that brings committed users to a local businesses. The merchants love working with us as we put them in the driver’s seat. And, the customers keep coming back for the awesome deals that they can avail without paying us up-front. Sounds exciting? Read on to know more...
        %ul#sellingpoints
          %li#one
            %a build your brand
          %li#two
            %a build customer base
          %li#three 
            %a keep majority of your revenue
    #col-one
      %a 
      .content
        build your brand
      .meat
        What could be a better than not paying a dime for getting noticed and increasing your sales? Featuring your business with us allows you to tap our huge user base that is eager to try something cool locally to them. You don’t owe us any money unless 60 of our users become your customers. When the 61st customer walks through your door, you pay us a low flat fee. Yes, it is as simple as that!
        We are being generous and giving exceptional discounts to our merchants and still guaranting customers! So what are you waiting for? Reach out to us today to grow your business and make your mark!
        We are waiving the flat fee for our early adopters so get on the priority list by partnering with us! 
        Hurry up only 6 spots are left!
    #col-two
      %a
      .content
        build customer base
      .meat
        Now you must be wondering why would the customers come to us? Well, our secret is pretty simple! We attract the customers by eliminating Buyer’s remorse. Our customers feel satisfied as they enjoy the freedom of downloading the deal and spread the word through social media, including Facebook & twitter, to their network of friends. It is a win-win situation for our customers and is proven by our huge database, which is growing exponentially.
    #col-three
      %a
      .content
        keep your revenue
      .meat
        Looking for a ways to not part with your much deserved profit? You search stops here! Harvard Business School research suggest that businesses who sign up with a Group Deal service actually lose profit. While other sites charge up to 50% from every transaction AND make you wait to collect your paycheck, we take only 10% from each transaction AFTER first 60 transactions.  Furthermore, since customers directly pay YOU, we don't hold your money.  You pay us when the deal runs out! We do not focus on our profits, we focus on yours. 
